<div class="questionnaire">

  <h2>Tell Us About Yourselves!</h2>

  Note:  The following questions/answers apply to you as a couple.  Your answers will influence which projects we initially show you.</span>

  <h3>What makes you, you? Pick your top 3:</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span class="questionnaire-option">Travel Bug Bitten</span><br>
    <input type="checkbox"><span class="questionnaire-option">Volunteering for the Cause</span><br>
    <input type="checkbox"><span class="questionnaire-option">Recycle for Life</span><br>
    <input type="checkbox"><span class="questionnaire-option">Master Chef in the Kitchen</span><br>
    <input type="checkbox"><span class="questionnaire-option">Library Explorer</span><br>
    <input type="checkbox"><span class="questionnaire-option">Champion for the Kids </span><br>
    <input type="checkbox"><span class="questionnaire-option">Supporter of Local Farming</span>
  </div>

  <h3>Which are you most passionate about? Pick your top 2:</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span class="questionnaire-option">Education</span><br>
    <input type="checkbox"><span class="questionnaire-option">Global Health</span><br>
    <input type="checkbox"><span class="questionnaire-option">Water and Sanitation</span><br>
    <input type="checkbox"><span class="questionnaire-option">Energy</span><br>
    <input type="checkbox"><span class="questionnaire-option">Agriculture</span><br>
    <input type="checkbox"><span class="questionnaire-option">Maternal and Child Health</span>
  </div>

  <h3>Where have you/would you like to travel?</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span class="questionnaire-option">Africa</span><br>
    <input type="checkbox"><span class="questionnaire-option">Asia</span><br>
    <input type="checkbox"><span class="questionnaire-option">Eastern Europe</span><br>
    <input type="checkbox"><span class="questionnaire-option">Latin America</span><br>
    <input type="checkbox"><span class="questionnaire-option">Other</span>
  </div>

  <h3>Do you have a region in mind that you want to make a difference in?</h3>

  <div class="questionnaire-checklist">
    <input type="checkbox"><span class="questionnaire-option">Africa</span><br>
    <input type="checkbox"><span class="questionnaire-option">Asia</span><br>
    <input type="checkbox"><span class="questionnaire-option">Eastern Europe</span><br>
    <input type="checkbox"><span class="questionnaire-option">Latin America</span><br>
    <input type="checkbox"><span class="questionnaire-option">Any</span><br>
    <input type="checkbox"><span class="questionnaire-option">Other</span>
  </div>

  <a href='/projects' class='btn btn-lg btn-primary project-select-button'>Get Recommendations</a>

</div>