<div id='home-wrapper'>

	<div id='home-story'>

		<div class="taglines row">
			<h3 class="primary-tag">Build Love Where it is Needed Most</h3>
			<h3>Creating charitable wedding registries that share your happily ever after with the world.</h3>
		</div>

		<div class="row story-wrapper">

			<div class="story col-lg-4 ">
				<div class="row">
					<img class="ind-story" src="<%= asset_path('lovelogo.png') %>">
				</div>
				<div class="row ind-story">
					<span class="logo">Match</span>
				</div>
				<div class="row ind-story">
					<p>We start off by matching your interests, personality and wedding information to a range of charitable organizations.</p>
				</div>
				
			</div>

			<div class="story col-lg-4 ">
				<div class="row">
					<img src="<%= asset_path('worldicon.png') %>">
				</div>
				<div class="row ind-story">
					<span class="logo">Find</span>
				</div>
				<div class="row ind-story">
					<p>Find out more information about your matched charities, including what exactly your wedding guests will be able to contribute towards.</p>
				</div>
			</div>

			<div class="story col-lg-4 ">
				<div class="row">
					<img src="<%= asset_path('presentlogo.png') %>">
				</div>
				<div class="row ind-story">
					<span class="logo">Give</span>
				</div>
				<div class="row ind-story">
					<p>Dedicate all or part of your registry to the charity of your choice and have your wedding guests help the world in your name.</p>
				</div>
			</div>

		</div>

		<div class="row story-wrapper registry-button">
			<div class="col-lg-12 registry-create-button">
				<a href='/questions' class='btn btn-lg btn-primary '>Create Your Registry</a>
			</div>
		</div>
	</div>

</div>

<!-- <div class="row ngo-wrapper">
	<p class="home-ngo row">Every year in the US, 2.3 million couples tie the know.  That's over 1 million ways to help make the world a better place.  If you are a charitable organization looking to partner with Heartfully, contact us for more information or start the registration process below.</p>

	<div class="row registry-create-button">
		<a href='/questionnaire' class='btn btn-lg btn-primary '>Register Your Charity</a>
	</div>
</div> -->