<div id='home-wrapper'>

	<div id='home-story'>

		<div class="taglines row">
			<h3 class="primary-tag">Build Love Where it is Needed Most</h3>
			<h3>Creating Charitable wedding regstries that share your happily ever after with the world.</h3>
		</div>

		<div class="row story-wrapper">

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('lovelogo.png') %>"  alt="hands with flower">
				<h1 class="icon-title">Match</h1>
			</div>

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('worldicon.png') %>"  alt="hands with flower">
				<h1 class="icon-title">Find</h1>
			</div>

			<div class="story col-lg-4 ">
				<img src="<%= asset_path('presentlogo.png') %>"  alt="hands with flower">
				<h1 class="icon-title">Give</h1>
			</div>
		</div>

		<div class="row story-wrapper registry-button">
			<a href='/questionnaire' class='btn btn-lg btn-primary registry-create-button'>Create Your Registry</a>

		</div>
	</div>

</div>

<div class="row ngo-wrapper">
	<p class="home-ngo row">Every year in the US, 2.3 million couples tie the know.  That's over 1 million ways to help make the world a better place.  If you are a charitable organization looking to partner with Heartfully, contact us for more information or start the registration process below.</p>

	<div class="row registry-create-button">
		<a href='/questionnaire' class='btn btn-lg btn-primary '>Register Your Charity</a>
	</div>
</div>