<div id='project-wrapper'>
	<%= render partial: "projects/show" %>

  <div class="row project-details-wrapper">
    <div class="project specs">
      <h3>Primary school classroom in Mhaji village, Tanzania</h3>
      <p>Your support will help build a classroom in the Mhaji village in Tanzania.  Below is a list of the items that are needed to complete the project.  Each of these items will appear on your registry and your guests will be able to choose which they would like to purchase on your behalf.
      <div class="row items">
        <ul>
          <li>600 Stones @ $1/stone</li>
          <li>1000 Bricks @ $1/brick</li>
          <li>100 Bundles of Timber @ $10/bundle</li>
          <li>100 Bags of Cement @ $8/bag</li>
          <li>13 Doors @ $150/door</li>
          <li>40 Windows @ $75/window</li>
        </ul>
      </div>
      <div class='row'>
    <div class='col-md-12'>
      <a href='/users/1' class='btn btn-lg btn-primary project-select-button'>Support This Project</a>
    </div>
  </div> 
    <div>
  </div>

	

</div>