<div class="header">
  <div class="logo">
    <h1 class="logo ">Heartful.ly</h1>
  </div>

	<div class="navigation ">
    <a href="">Mission</a>
  	<a href="">Charities</a>  
  	<a href="">Team</a>  
  	<a href="">Contact</a>
	</div>

</div>

