

<div class="row header">
  <div class="col-md-2">
    <span class="logo">Heartful.ly</span>
  </div>

  <div class="col-md-10 navigation ">
    <a href="">Mission</a>
    <a href="">Charities</a>  
    <a href="">Team</a>  
    <a href="">Contact</a>
  </div>


</div>