<div class="header">
  <div >
    <span class="logo">Heartful.ly</span>
  </div>

	<div class="navigation ">
    <a href="">Mission</a>
  	<a href="">Charities</a>  
  	<a href="">Team</a>  
  	<a href="">Contact</a>
	</div>

</div>

