@import "style_guide";

/*QUESTIONNAIRE PAGE*/

.questionnaire {
  margin: 0 auto;
  width: 70%;
}

.questionnaire-checklist {
  margin: 10px;
  padding: 5px;
}

.questionnaire-option {
  margin: 10px;
}
